<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>EmoView</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/img/emo_logo.jpg" rel="icon">
  <link href="../static/img/emo_logo.jpg" rel="apple-touch-icon">

  {% include "parts/_styles.html" %}


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <!-- <h1 class="logo me-auto me-lg-0"><a href="index.html">Gp<span>.</span></a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="./inner-page" class="get-started-btn scrollto">Get Started</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>AI微表情分析<span>.</span></h1>
          <h2>BDSE30 第四組</h2>
        </div>
      </div>

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="state">
          <h4>免責聲明</h4>
          <p class="disclaimer-text text-justify">
            本應用程式將使用您的臉部照片來評估對商品的喜好度分析，此功能僅供娛樂和參考使用。透過拍攝您的照片，表示您已年滿十八歲並同意我們為此目的使用您的照片。我們將遵守隱私保護法規，不會向第三方分享任何使用者的個人資料或照片。如需更多資訊，請聯繫我們。感謝您的使用與理解。
          </p>
        </div>
      </div>

      <div class="row gy-4 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        <div class="col-xl-2 col-md-4">
          <a href="./inner-page">
            <div class="icon-box">
              <i class="ri-bar-chart-box-line"></i><br>
              <h3>開始測試</h3>
            </div>
          </a>
        </div>

      </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="../static/img/emo.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <!-- <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3> -->
            <p class="fst-italic">
              在現今自媒體時代，資訊分享與消費方式正逐漸轉變為視覺化與情感化。我們榮幸地推出一個創新的網站，為廠商提供一個獨特的平台，讓他們可以展示產品的圖片並深入了解使用者的情感反應。歡迎來到「EmoView」──這個矚目新網站結合了視覺與情感分析技術，為您的產品推廣帶來前所未有的洞察力！

              「EmoView」的核心理念是將情感與視覺體驗融合，讓您的產品不僅能夠被用戶瀏覽，更能深入觸及他們的內心反應。我們通過高效的錄影紀錄技術，追蹤使用者在閱覽產品圖片時的臉部表情變化，並透過尖端的情感分析演算法，精準捕捉使用者的情緒反應，無論是喜悅、驚喜、滿意，抑或是不滿、厭惡、疑惑，一覽無遺。

              我們相信，「EmoView」將為您提供以下重要優勢：
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i>
                情感智慧分析：傳統的產品推廣只停留在表面，但「EmoView」提供更深入的情感智慧分析，讓您了解用戶的實際感受。這種深度洞察將有助於您針對產品進行精準的改進，提升客戶滿意度和忠誠度。</li>
              <li><i class="ri-check-double-line"></i>
                情感導向優化：透過「EmoView」，您將可以針對用戶的情感反應對產品進行優化。無論是改進產品外觀、功能或是行銷策略，我們的數據將成為您的堅實後盾，確保每一步都朝向更積極的情感引導。</li>
              <li><i class="ri-check-double-line"></i>
                即時洞察力：「EmoView」提供即時的情感分析結果，讓您能夠立即了解用戶對於產品的反應。這種快速回饋有助於您在市場競爭中保持領先地位，迅速做出反應並持續改進您的產品策略。</li>
              <li><i class="ri-check-double-line"></i>
                用戶體驗提升：為了讓您的用戶感受更優質的瀏覽體驗，我們致力於優化「EmoView」的操作和界面。無論是在桌面還是移動設備上，您的用戶都將輕鬆且愉悅地瀏覽您的產品，並表達真實的情感反應。</li>
              <li><i class="ri-check-double-line"></i>
                數據保護與隱私：我們深知用戶隱私的重要性，因此「EmoView」將採用最嚴格的數據保護措施，確保所有數據嚴密保存並僅供授權人員查閱。我們將以最高的安全標準，維護您和您用戶的數據安全。</li>
            </ul>
            <p>
              「EmoView」是一個引領未來的創舉，我們相信這個平台將改變傳統產品推廣的方式，為您帶來更深入的了解，更全面的洞察力。不僅如此，「EmoView」也將激發更多可能性，開創新的情感行銷領域。

              邁向情感智慧的未來，就從「EmoView」開始。我們誠摯邀請廠商加入我們的平台，共同見證這場情感與技術的革命。讓我們攜手前進，讓您的產品在用戶心中綻放耀眼光芒！
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <p>Team 4</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="../static/img/team/team-1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>劉晏</h4>
                <span>組長 模型建置</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="../static/img/team/team-2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>古靜怡</h4>
                <span>資料視覺化</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="../static/img/team/team-3.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>林奕辰</h4>
                <span>資料預處理</span>
              </div>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="../static/img/team/team-4.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>黃志誠</h4>
                <span>系統建置</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="../static/img/team/team-5.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>楊昊翰</h4>
                <span>模型建置</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="../static/img/team/team-6.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>楊婕妤</h4>
                <span>前端建立</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">

            </div>

          </div>
        </div>
      </div>

      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Gp</span></strong>. All Rights Reserved
        </div>
        <div class="credits">

          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  {% include "parts/_scripts.html" %}


</body>

</html>